/* Added to reduce section sizes */
.founder-section.compact {
    padding: 40px 0;
}
.contact-section.compact {
    padding: 30px 0;
}
/* Added for smaller logo in the corner */
.logo-corner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
}